<center>
<font color="blue">
<h1>Comic Nook</h1>
</font>
<h4>Created by The Comic Commits</h4>
</center>
<nav class="navbar navbar-dark bg-dark nav-fill nav-justified">

    <span class="navbar-brand" style="color:rgb(255, 165, 0)">Comic Commit</span>

    <a class="nav-link" href="#">Profile</a>

    <a class="nav-link" href="#">Discover</a>

    <a class="nav-link" href="#">Review</a>

    <a class="nav-link" href="#">Forum</a>

    <form class="form-inline">

      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

    </form>

    <a class="nav-link" href="#">Login</a>

    <a class="nav-link" href="#">Sign Up</a>

</nav>
<center>
<br>
<h3> Highest Rated Comic </h3>
 <%= image_tag "Mutiny.png", height: 300 %>
 </center>
<br>
<br>
<br>
 <h2>Why Comic Nook?</h2>

 <h4>
   Fans may:
 </h4>

 <ul>
   <li>Browse Comics by genre, rating, creator, and more</li>
   <li>Read Comics</li>
   <li>Discuss your favorite comics in the Comic Nook forums</li>
   <li>Rate Comics and see how others rated them</li>
 </ul>

  <p>
   In addition to the fan account, register a creator or critic account to get these features:
 </p>

 <ul>
   <li>Critics</li>
   <ul>
        <li>Post recommended comics on your profile page</li>
        <li>Ratings will be included in critic rating</li>
   </ul>
   <li>Creators</li>
      <ul>
        <li>Create and Upload your own Comics!</li>
   </ul>
 </ul>


