/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
// I have added bootstrap for you. If you want to also use a bootswatch theme, 
// uncomment the bootswatch lines below and please change "spacelab" to one of
// the other themes seen on their website @ https://bootswatch.com/.
//  @import "../node_modules/bootswatch/dist/spacelab/variables";
 @import "../node_modules/bootstrap/scss/bootstrap";
//  @import "../node_modules/bootswatch/dist/spacelab/bootswatch";
body{
    background: image-url('image.jpg');
    background-size: auto;
  }
.container{
    background: image-url('four.jpg') no-repeat;
    background-position: center;
    background-size: 60% 100%;
  }
h1{
  color: rgb(81, 219, 17);
}
