<p>
  <strong>Review:</strong>
  <%= @review.title %>
</p>
 
<p>
  <strong>Input:</strong>
  <%= @review.text %>
</p>

<p>
    <strong>Rating:</strong>
    <%= @review.stars%>
</p>

<%= link_to 'Back', reviews_path %>